body {
    background-color: cornsilk;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20;
    font-size: 16px;
}
.header {
    background-color: coral;
    padding: 20px;
    text-align: center;
}
h1 {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: coral;
    font-size: 40px;
}
.container {
    display: flex;
    justify-content: flex-start;
    padding-right: 20px;
    #tit1 {
        font-family: Arial, sans-serif;
        padding: 30px;
        margin: 80px 120px 0px 120px;
        color: coral;
    }
    #text1 {
        font-family: Arial, sans-serif;
        padding: 30px;
        margin: 0px 120px 120px 120px;
        color: coral;
    }
}
